<template id="authorize.html">
    <ons-page id="authorize" modifier="gradient">
      <div class="card-container" modifier="outlined">
        <ons-card modifier="outlined">
          <div class="centered-child" style="width:fit-content">
            <ons-button id="authorize-button" class="center" modifier="large outline" onclick="">AUTHENTICATE</ons-button>
          </div>
          
          <!-- <ons-list class="card-content" modifier="noborder no-color">
            <ons-list-item modifier="nodivider"></ons-list-item>
            <ons-list-item modifier="nodivider"></ons-list-item>
            <ons-list-item style="text-align: center-both;" modifier="nodivider">
                <ons-button id="authorize-button" class="center-both" modifier="large outline" onclick="">AUTHENTICATE</ons-button>
            </ons-list-item>
            <ons-list-item modifier="nodivider"></ons-list-item>
            <ons-list-item modifier="nodivider"></ons-list-item>
          </ons-list> -->
        </ons-card>
      </div>
    </ons-page>
  </template>

  <template id="dashboard.html">
    <ons-page id="dashboard" modifier="gradient">
      
      <div>
      
      <ons-toolbar modifier="default">
        <div class="left">
          <!-- <ons-back-button modifier="default">Close</ons-back-button> -->
          <ons-toolbar-button id="deauthorize-button">
            <ons-icon size="30px" icon="md-chevron-left"></ons-icon>
            <ons-icon size="30px" icon="md-chevron-left"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center"></div>
        <div class="right">
          <ons-toolbar-button id="settings-button">
            <ons-icon size="30px" icon="md-settings" class="left"></ons-icon>
            <ons-icon size="30px" icon="md-chevron-right">
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
  
      <div style="text-align: center; margin-top:20px">
          <br />
            <div class="expanded_article">
              <br />
              <ons-col width="80%">
                <ons-card class="right" modifier="outlined">
                  <header>
                    <H3>STATS</H3>
                  </header>
                  <div class="content">
                    <div class="center-both" width:100%;">
                      <ons-list class="stat-ul" style="width:30%; height:200px;">
                        <ons-list-header>GENERATOR</ons-list-header>
                        <ons-list-item modifier="nodivider" style="width:100%;" >
                          <ons-lazy-repeat id="node-data-card-header"></ons-lazy-repeat>
                        </ons-list-item>
                        <ons-list-item>
                          <ons-col width="50%">
                            <div class="center">
                              <ons-button id="update-logo-button"></ons-icon><ons-icon icon="fa-wrench"></ons-icon>_update logo
                                <input style="display: none" name="Select Logo" type="file" id="logo-file" accept=".png">
                              </ons-button>
                            </div>
                          </ons-col>
                        </ons-list-item>
                      </ons-list>
                      <ons-list class="stat-ul" style="width:30%; height:200px;">
                        <ons-list style="overflow:hidden; overflow-y:scroll;">
                          <ons-list-header>TOKENS</ons-list-header>
                          <ons-lazy-repeat id="token-list-items"></ons-lazy-repeat>
                        </ons-list>
                      </ons-list>
                      
                      <ons-lazy-repeat id="node-info"></ons-lazy-repeat>
                    </div>  
                  </div>
                </ons-card>
              </ons-col>

             </ons-col>
             <ons-col width="100%">
                <ons-card modifier="default outlined">
                  <H3>FILES</H3>
                  <div class="content"><ons-button modifier="large" id="upload-button" ripple><ons-icon icon="fa-plus-square"></ons-icon>_upload</ons-button></div>
                  <div class="content">
                    <div class="content_top">
                      <p>
                          <ons-search-input id="file-search" class="dash-input"  placeholder="Search" onchange="fn.filterItems(this.value)" modifier="material"></ons-search-input>
                      </p> 
                    </div>  
                    <ons-list  id="file-list-main" style="overflow:hidden; overflow-y:scroll;">
                      <ons-list-header>File List</ons-list-header>
                      <ons-lazy-repeat id="file-list-items"></ons-lazy-repeat>
                    </ons-list>
                  </div>
              </ons-card>
             </ons-col>
           </ons-row>
            </div>
        </div>
      </div>
    </ons-page>
  </template>

  <template id="settings.html">
    <ons-page id="settings" modifier="gradient">
      <ons-toolbar modifier="default">
        <div class="left">
          <ons-back-button id="settings-back-button">
          </ons-back-button>
        </div>
        <div class="center">SETTINGS</div>
      </ons-toolbar>

      <div style="text-align: center;">
          <br />
            <div class="expanded_article">
              <br />
              <ons-col width="80%">
                <ons-card class="" modifier="outlined" style="height:200px;">
                  <header>
                    <H3>SETTINGS</H3>
                  </header>
                  <div class="content center-both">
                    <div class="center-both" style="width:100%;">

                      <ons-lazy-repeat id="settings-info"></ons-lazy-repeat>
                      <ons-lazy-repeat id="settings-appearance"></ons-lazy-repeat>
                      <ons-lazy-repeat id="settings-homepage"></ons-lazy-repeat>

                    </div>  
                  </div>
                </ons-card>
              </ons-col>
            <ons-row>
             </ons-col>
             <ons-col width="100%">
                <ons-card modifier="default outlined">
                  <div class="content"><ons-button modifier="large" id="settings-add-access-token-button" ripple>ADD ACCESS TOKEN</ons-button></div>
                  <div class="content">
                    <ons-list  id="file-list-main">
                      <ons-list-header>ACCESS TOKENS</ons-list-header>
                      <ons-lazy-repeat id="access-token-list-items"></ons-lazy-repeat>
                    </ons-list>
                  </div>
              </ons-card>
             </ons-col>
           </ons-row>
            </div>
        </div>
      </div>

    </ons-page>
  </template>

  <template id="upload-logo-file-dialog.html">
    <ons-dialog id="upload-logo-file-dialog" modifier="outlined" cancelable>
      <div style="text-align: center; padding: 10px;">
        <p class="dialog-p">UPDATE LOGO IMAGE</p>
        <p class="dialog-p">Select a file to upload:</p>
        <p>
          <ons-button id="upload-logo-file-dialog-button" class="can-callback" ripple>UPLOAD
            <input type="file" id="upload-logo-file-dialog-input" style="display: none;">
          </ons-button>
        </p>
      </div>
    </ons-dialog>
  </template>

  <template id="upload-logo-dialog.html">
    <ons-dialog id="upload-logo-dialog" cancelable>
      <div style="text-align: center; padding: 10px;">
        <p class="dialog-p">UPLOAD LOGO</p>
        <p class="dialog-p">Select a file to upload:</p>
        <p>
          <ons-button id="upload-logo-dialog-button" class="can-callback" ripple>UPLOAD
            <input type="file" id="upload-logo-dialog-input" style="display: none;">
          </ons-button>
        </p>
      </div>
    </ons-dialog>
  </template>

    <template id="upload-file-dialog.html">
    <ons-dialog id="upload-file-dialog" cancelable>
      <div style="text-align: center; padding: 10px;">
        <ons-list id="upload-file-dialog-settings">
          <ons-list-item class="upload-file-dialog-list-item">
            <div class="fab-container left"> 
              <ons-icon id="upload-file-dialog-lock-icon" size="30px" class="list-item__thumbnail" icon="fa-unlock"></ons-icon>
            </div>
            <div class="center">
              <span class="list-item__title"><ons-switch id="upload-file-dialog-encrypt-toggle"></ons-switch></span>
            </div>
          </ons-list-item>
          <ons-list-item id="upload-file-dialog-key" class="upload-file-dialog-list-item" expandable disabled>
            <div class="expandable-content">
              <div class="center">
                <span class="list-item__title">
                  <ons-input id="upload-file-dialog-key-input" modifier="underbar" placeholder="Reciever Public Key" float></ons-input>
                </span>
              </div>
            </div>
          </ons-list-item>
        </ons-list>
        <p>
          <ons-button id="upload-file-dialog-button" class="can-callback" modifier="large" ripple>UPLOAD
            <input type="file" id="upload-file-dialog-input" style="display: none;">
          </ons-button>
        </p>
      </div>
    </ons-dialog>
  </template>

    <template id="transaction-confirmed-dialog.html">
    <ons-dialog class="dialog-content" id="transaction-confirmed-dialog" modifier="outlined" cancelable>
      <div style="width:300px; padding: 10px;">
        <span class="list-item__title center-both"><img style="width: 24px; height: 24px;" id="transaction-confirmed-dialog-icon" src="/static/stellar_logo_light.png"></img>TRANSACTION CONFIRMED</span>
        <div class="center-both" style="text-align: center; padding: 5px;">
          <p id="transaction-confirmed-dialog-description"></p>
        </div>
        <div class="center-both" style="text-align: center; padding: 5px;">
          <span><a class="truncate" id="transaction-confirmed-dialog-url" href="" >view transaction</a></span>
        </div>
        <div class="center-both" style="text-align: center; padding: 10px;">
          <ons-button class="center-both" id="transaction-confirmed-dialog-dialog-button" modifier="large" onclick="window.dlg.hide('transaction-confirmed-dialog')" ripple>OK</ons-button>
        </div>
      </div>
    </ons-dialog>
  </template>

    <template id="tokenize-file-dialog.html">
    <ons-dialog id="tokenize-file-dialog" cancelable>
      <div style="text-align: center; padding: 10px;">
        <ons-list  style="width:100%;">
          <ons-list-header><ons-icon class="right" icon="fa-diamond"></ons-icon>__CREATE FILE TOKEN</ons-list-header>
          <ons-list-item class="node-data-card-header-list-item">
            <div class="fab-container left"> 
              <span class="left">
                <img id="tokenize-file-dialog-img" class="list-item__thumbnail" modifier="file-thumb" src="">
              </span>
            </div>
            <div class="center">
              <span id="tokenize-file-dialog-name" class="list-item__title"></span><span id="tokenize-file-dialog-descriptor"  class="list-item__subtitle"></span>
            </div>
          </ons-list-item>
            <ons-list-item modifier="nodivider" style="width:100%;" >
              <span>
                <div class="center-both">
                  <pre>initial allocation:              </pre><ons-input class="" id="tokenize-file-dialog-amount" modifier="" value=1000 type="number" float></ons-input>
                </div>
              </span>
            </ons-list-item>
            <ons-list-item modifier="nodivider" style="width:100%;" >
              <ons-button id="tokenize-file-dialog-button" class="can-callback" modifier="large" ripple>TOKENIZE</ons-button>
            </ons-list-item>
          </ons-list>
      </div>
    </ons-dialog>
  </template>

  <template id="send-file-token-dialog.html">
    <ons-dialog id="send-file-token-dialog" cancelable>
      <div style="text-align: center; padding: 10px;">
        <ons-list  style="width:100%;">
          <ons-list-header><ons-icon class="right" icon="fa-paper-plane"></ons-icon>__SEND FILE TOKEN</ons-list-header>
          <ons-list-item class="node-data-card-header-list-item">
            <div class="fab-container left">
              <span class="left">
                <img id="send-file-token-dialog-img" class="list-item__thumbnail" modifier="file-thumb" src="">
              </span>
            </div>
            <div class="center">
              <span id="send-file-token-dialog-name" class="list-item__title"></span><span id="send-file-token-dialog-descriptor"  class="list-item__subtitle"></span>
            </div>
          </ons-list-item>
          <ons-list-item modifier="nodivider" style="width:100%;" >
              <span>
                <div class="center-both">
                  <pre class="">amount:                   </pre><ons-input class="" id="send-file-token-dialog-amount" modifier="" value=1 type="number" float></ons-input>
                </div>
              </span>
          </ons-list-item>
          <ons-list-item modifier="nodivider" style="width:100%;" >
            <span>
              <div class="center-both">
                 <pre class="">to: </pre><ons-input class="" id="send-file-token-dialog-to-address" modifier="" placeholder="RECIEVING ADDRESS" float></ons-input> 
              </div>
            </span>
          </ons-list-item>
          <ons-list-item modifier="nodivider" style="width:100%;" >
              <ons-button id="send-file-token-dialog-button" class="can-callback" modifier="large" ripple>SEND</ons-button>
          </ons-list-item>
        </ons-list>
      </div>
    </ons-dialog>
  </template>

  <template id="publish-file-dialog.html">
    <ons-dialog id="publish-file-dialog" cancelable>
      <div style="text-align: center; padding: 10px;">
        <ons-list  style="width:100%;">
          <ons-list-header><ons-icon class="right" icon="fa-bolt"></ons-icon>__PUBLISH FILE</ons-list-header>
          <ons-list-item class="node-data-card-header-list-item">
            <div class="fab-container left">
              <span class="left">
                <img id="publish-file-dialog-img" class="list-item__thumbnail" modifier="file-thumb" src="">
              </span>
            </div>
            <div class="center">
              <span id="publish-file-dialog-name" class="list-item__title"></span><span id="publish-file-dialog-descriptor"  class="list-item__subtitle"></span>
            </div>
          </ons-list-item>
          <ons-list-item modifier="nodivider" style="width:100%;" >
              <ons-button id="publish-file-dialog-button" class="can-callback" modifier="large" ripple>PUBLISH</ons-button>
          </ons-list-item>
        </ons-list>
      </div>
    </ons-dialog>
  </template>

  <template id="node-info-template">
    <ons-list class="stat-ul" style="width:30%; height:200px;">
      <ons-list-header>NODE INFO</ons-list-header>
      <ons-list-item class="node-data-card-header-list-item" modifier="nodivider">
        <div class="fab-container left"> 
          <ons-progress-circular id="node-info-repo-graph" value="10", secondary-value="100" modifier="material"></ons-progress-circular>
        </div>
        <div class="center">
          <span class="list-item__title"></span>Used Space<span id="node-info-repo-size" class="list-item__subtitle">></span>
        </div>
      </ons-list-item>
      <ons-list-item class="node-data-card-header-list-item" modifier="nodivider">
        <div class="fab-container left"> 
          <ons-icon icon="fa-database"  size="20px" modifier="material"></ons-icon>
        </div>
        <div class="center">
          <span class="list-item__title"></span>Total Space<span id="node-info-storage-max" class="list-item__subtitle">></span>
        </div>
      </ons-list-item>
    </ons-list>
  </template>


  <template id="network-traffic-template">
    <ons-list class="stat-ul" style="width:25%; height:200px;">
      <ons-list-header>NETWORK TRAFFIC</ons-list-header>
      <ons-list-item modifier="nodivider" style="width:100%;" >
        <header>
          <div class="center">
             <ons-icon icon="fa-cloud-download"  modifier="material"></ons-icon>
              <span id="network-traffic-kbs-incoming" class="list-item__subtitle">100 </span>
          </div>
        </header>
      </ons-list-item>
      <ons-list-item modifier="nodivider" style="width:100%;" >
        <header>
          <div class="center">
              <ons-icon icon="fa-cloud-upload"  modifier="material"></ons-icon>
              <span  id="network-traffic-kbs-outgoing" class="list-item__subtitle">100 </span>
          </div>
        </header>
      </ons-list-item>
    </ons-list>
  </template>

  <template id="token-list-items-template">
    <ons-list-item modifier="nodivider" style="width:100%;" >
        <div class="fab-container left">
          <span class="left" style="display: inline-block;"><img id="token-list-item-icon" class="list-item__thumbnail" modifier="file-thumb" src=""></span>
        </div>
        <div class="fab-container left">
          <span class="left"><img id="token-list-item-icon" class="list-item__thumbnail" modifier="file-thumb" src=""></span>
        </div>
        <div class="center">
          <span id="token-list-item-name" class="list-item__title"><p class="truncate"></p></span>
          <div style="display: inline-block;">
            <span id="token-list-item-balance"  class="list-item__subtitle"></span>
            <span class="right"><ons-button class="scale-on-hover-icon" modifier="quiet" onclick="" id="token-list-item-send">
              <ons-icon icon="fa-paper-plane"></ons-icon>
            </ons-button>
            <span class="right"><ons-button class="scale-on-hover-icon" modifier="quiet" onclick="" id="token-list-item-recieve">
              <ons-icon icon="fa-qrcode"></ons-icon>
            </ons-button>
          </span>
          </div>
        </div>
      </ons-list-item>
  </template>

  <template id="send-token-dialog.html">
    <ons-dialog id="send-token-dialog" cancelable>
      <div style="text-align: center; padding: 10px;">
        <ons-list  style="width:100%;">
          <ons-list-header><ons-icon class="right" icon="fa-paper-plane"></ons-icon>__SEND TOKEN</ons-list-header>
          <ons-list-item class="node-data-card-header-list-item">
            <div class="fab-container left">
              <span class="left">
                <img id="send-token-dialog-img" class="list-item__thumbnail" modifier="file-thumb" src="">
              </span>
            </div>
            <div class="center">
              <span id="send-token-dialog-name" class="list-item__title"></span><span id="send-token-dialog-descriptor"  class="list-item__subtitle"></span>
            </div>
          </ons-list-item>
          <ons-list-item modifier="nodivider" style="width:100%;" >
              <span>
                <div class="center-both">
                  <pre class="">amount:                   </pre><ons-input class="" id="send-token-dialog-amount" modifier="" value=1 type="number" float></ons-input>
                </div>
              </span>
          </ons-list-item>
          <ons-list-item modifier="nodivider" style="width:100%;" >
            <span>
              <div class="center-both">
                 <pre class="">to: </pre><ons-input class="" id="send-token-dialog-to-address" modifier="" placeholder="RECIEVING ADDRESS" float></ons-input> 
              </div>
            </span>
          </ons-list-item>
          <ons-list-item modifier="nodivider" style="width:100%;" >
              <ons-button id="send-token-dialog-button" class="can-callback" modifier="large" ripple>SEND</ons-button>
          </ons-list-item>
        </ons-list>
      </div>
    </ons-dialog>
  </template>

  <template id="recieve-token-dialog.html">
    <ons-dialog id="recieve-token-dialog" cancelable>
      <div style="text-align: center; padding: 10px;">
        <span class="center"><img id="recieve-token-dialog-qrcode" src="" style="max-width: 50%; height: auto;"></span>
        <span>
              <ons-input id="recieve-token-dialog-address" modifier="large" value=""  style="width:80%;"></ons-input>
              <ons-button modifier="quiet" onclick="" id="recieve-token-dialog-copy-address" class="scale-on-hover-icon">
                <ons-icon icon="fa-clipboard"></ons-icon>
              </ons-button>
            </span>
      </div>
    </ons-dialog>
  </template>
  
  <template id="file-list-items-template">
    <ons-list-item expandable ripple>
      <div class="fab-container left">
        <span class="left"><img id="file-list-item-icon" class="list-item__thumbnail" modifier="file-thumb" src=""></span>
      </div>
      <div class="center">
        <span id="file-list-item-name" class="list-item__title"><p class="truncate"></p></span>
      </div>
      <div class="center">
        <ons-list modifier="noborder no-color">
          <header class="center-both">
            <ons-list-item>
              <span class="special_icon left"></span>
              <span class="file-name"></span>
            </ons-list-item>
          </header>
          <header class="center-both">
            <ons-list-item><span class=""><a class="file_url truncate" href=""></a></span></ons-list-item>
          </header>
        </ons-list>
      </div>

      <div class="expandable-content">
        <ons-list modifier="default">
          <ons-list-header><img style="width: 24px; height: 24px;" id="file-list-item-stellar-logo" src=""></ons-list-header>
          <ons-list-item>
            <div class="center"><span class="thick">Balance:</span><pre> </pre><span id="file-list-item-balance"></span><pre>  </pre><span class="thick">Encrypted:</span><pre> </pre><span id="file-list-item-encrypted"></span><pre>  </pre><span class="thick">Reciever Key:</span><pre> </pre><span id="file-list-item-reciever-pub"></span></div>
          </ons-list-item>
          <ons-list-item>
            <div id="file-list-items-token-buttons" class="center"></div>
          </ons-list-item>
          <ons-list-item>
            <div class="right">
              <ons-button class="scale-on-hover-icon" modifier="quiet" onclick="" id="copy-file-url">
                <ons-icon icon="fa-link"></ons-icon>
              </ons-button>
              <ons-button class="scale-on-hover-icon" modifier="quiet" onclick="" id="copy-file-url">
                <ons-icon icon="fa-clipboard"></ons-icon>
              </ons-button>
              <ons-button class="scale-on-hover-icon file-remove" modifier="quiet" onclick="" id="">
                <ons-icon icon="fa-remove"></ons-icon>
              </ons-button>
            </div>
          </ons-list-item>
        </ons-list>
      </div>
    </ons-list-item>
  </template>

  <template id="settings-info-template">
    <ons-list class="stat-ul" style="width:60%; height:200px;">
      <ons-list-header>NODE INFO</ons-list-header>
      <ons-list-item style="width:100%;" >
            <header class="center-both">
              <pre><span class="list-item__subtitle">id:   </span></pre>
              <span ><ons-input class="dash-input" id="settings-info-multiaddress" modifier="large" placeholder="Multiaddress"  style="width:80%;"></ons-input>
                <ons-button modifier="quiet" onclick="" id="settings-info-copy-peer-id" class="scale-on-hover-icon">
                <ons-icon icon="fa-clipboard"></ons-icon>
              </ons-button></span>
            </header>
      </ons-list-item>
      <ons-list-item style="width:100%;" >
            <header class="center-both">
              <pre><span class="list-item__subtitle">gateway:   </span></pre>
              <span>
                <ons-input class="dash-input" id="settings-info-gateway-url" modifier="large" value="127.0.0.1:9500" float></ons-input>
              </span>
              <span>
                <ons-button modifier="quiet" id="settings-info-update-gateway" class="scale-on-hover-icon can-callback" ripple>
                  <ons-icon icon="fa-wrench"></ons-icon>
                </ons-button>
              </span>
            </header>
      </ons-list-item>
    </ons-list>
  </template>

    <template id="access-token-list-items-template">
    <ons-list-item ripple>
      <div class="fab-container left">
        <span class="left"><ons-icon icon="fa-ticket"></ons-icon></span>
        <pre>   </pre><span id="access-token-name"></span>
        <pre>                 </pre><span id="access-token-pub"></span>
      </div>
      <div class="right">
        <ons-button class="scale-on-hover-icon" modifier="quiet" onclick="" id="access-token-remove">
          <ons-icon icon="fa-remove"></ons-icon>
        </ons-button>
      </div>
    </ons-list-item>
  </template>

  <template id="add-access-token-dialog.html">
    <ons-dialog id="add-access-token-dialog" cancelable>
      <div style="text-align: center; padding: 10px;">
        <ons-list  style="width:100%;">
          <ons-list-header><ons-icon class="right" icon="fa-ticket"></ons-icon>__NEW ACCESS TOKEN</ons-list-header>
          <ons-list-item class="node-data-card-header-list-item">
            <ons-input class="dash-input" id="add-access-token-dialog-name" modifier="large" placeholder="Token Name" float></ons-input>
          </ons-list-item>
          <ons-list-item class="node-data-card-header-list-item">
            <ons-input class="dash-input" id="add-access-token-dialog-pub" modifier="large" placeholder="Stellar 25519 Public Key" float></ons-input>
          </ons-list-item>
          <ons-list-item modifier="nodivider" style="width:100%;" >
              <ons-button id="add-access-token-dialog-button" class="can-callback" modifier="large" ripple>ADD</ons-button>
          </ons-list-item>
        </ons-list>
      </div>
    </ons-dialog>
  </template>

  <template id="copy-access-token-dialog.html">
    <ons-dialog id="copy-access-token-dialog" cancelable>
      <div style="text-align: center; padding: 10px;">
        <ons-list  style="width:100%;">
          <ons-list-header><ons-icon class="right" icon="fa-ticket"></ons-icon>__COPY ACCESS TOKEN</ons-list-header>
          <ons-list-item class="node-data-card-header-list-item">
            <textarea id="copy-access-token-dialog-input" modifier="large" class="textarea card-content" rows="4"></textarea>
          </ons-list-item>
          <ons-list-item modifier="nodivider" style="width:100%;" >
              <ons-button id="copy-access-token-dialog-button" class="can-callback" modifier="large" ripple>COPY</ons-button>
          </ons-list-item>
        </ons-list>
      </div>
    </ons-dialog>
  </template>

  <template id="settings-appearance-template">
    <ons-list class="stat-ul" style="width:40%; height:200px;">
      <ons-list-header>APPEARANCE</ons-list-header>
      <ons-list-item style="width:100%;" >
            <header class="center-both">
              <pre><span class="list-item__subtitle">theme:   </span></pre>
              <span >
                <ons-select id="settings-appearance-select" onchange="" modifier="underbar">
                </ons-select>
              </span>
            </header>
      </ons-list-item>
      <ons-list-item style="width:100%;" >
            <header class="center-both">
              <pre><span class="list-item__subtitle">bg image:   </span></pre>
              <span>
              <ons-button modifier="quiet" id="settings-appearance-bg-button" class="scale-on-hover-icon can-callback" ripple>
                <input type="file" id="settings-appearance-bg-input" style="display: none;">
                <ons-icon icon="fa-plus"></ons-icon>
              </ons-button>
              <ons-button modifier="quiet" id="settings-appearance-remove-bg-button" class="scale-on-hover-icon can-callback" ripple disabled>
                <ons-icon icon="fa-remove"></ons-icon>
              </ons-button>
            </span>
            </header>
      </ons-list-item>
    </ons-list>
  </template>

  <template id="settings-homepage-template">
    <ons-list class="stat-ul" style="width:40%; height:200px;">
      <ons-list-header>HOMEPAGE</ons-list-header>
      <ons-list-item style="width:100%;" >
            <header class="center-both">
              <pre><span class="list-item__subtitle">status:   </span></pre>
              <span id="settings-homepage-status" class="homepage-status">Checking...</span>
            </header>
      </ons-list-item>
      <ons-list-item style="width:100%;" >
            <header class="center-both">
              <pre><span class="list-item__subtitle">upload:   </span></pre>
              <span>
              <ons-button modifier="quiet" id="settings-homepage-upload-button" class="scale-on-hover-icon can-callback" ripple>
                <input type="file" id="settings-homepage-upload-input" style="display: none;" accept=".zip">
                <ons-icon icon="fa-upload"></ons-icon>
              </ons-button>
              <ons-button modifier="quiet" id="settings-homepage-remove-button" class="scale-on-hover-icon can-callback" ripple disabled>
                <ons-icon icon="fa-remove"></ons-icon>
              </ons-button>
            </span>
            </header>
      </ons-list-item>
    </ons-list>
  </template>
  
  <template id="peer-list-items-template">
    <ons-list-item>
      <div class="left identifier">
        <ons-input class="dash-input" modifier="large" placeholder="Multiaddress" float disabled></ons-input>
      </div>
      <div class="right">
        <ons-button modifier="quiet">
          <ons-icon icon="fa-remove"></ons-icon>
        </ons-button>
      </div>
    </ons-list-item>
  </template>

   <template id="upload-bg-img-dialog.html">
    <ons-dialog id="upload-bg-img-dialog" modifier="outlined" cancelable>
      <div style="text-align: center; padding: 10px;">
        <p class="dialog-p">UPDATE BACKGROUND IMAGE</p>
        <p class="dialog-p">Select a file to upload:</p>
        <p>
          <ons-button id="upload-bg-img-dialog-button" class="can-callback" ripple>UPLOAD
            <input type="file" id="upload-bg-img-dialog-input" style="display: none;">
          </ons-button>
        </p>
      </div>
    </ons-dialog>
  </template>