<ons-navigator swipeable id="Nav" page="new_node.html"></ons-navigator>

<template id="new_node.html">
    <ons-page id="new_node">
      <div class="card-container">
        <ons-card>
          <ons-col width="100%">
          <div class="centered-content">
            <div class="title" style="text-align: center;">
              NEW AXIEL NODE
            </div>
            <div class="content">
              <p>
                <ons-button id="generate-xelis-seed" modifier="outline"><ons-icon icon="sync"></ons-icon></ons-button>
              </p>
              <p>
                <textarea id="xelis-seed-text" modifier="large" class="textarea card-content" rows="4" placeholder="SEED"></textarea>
              </p>
              <p>
                <ons-input id="launch-key" class="card-content" modifier="underbar" type="password" placeholder="LAUNCH KEY" float></ons-input>
              </p>
              <div style="text-align: center;">
              <ons-button id="establish-button" modifier="large outline" onclick="">ESTABLISH</ons-button>
              <ons-button id="debug-button" style="margin: 20px;" onclick="window.fn.pushPage('establish')" >DEBUG</ons-button>
              </div>
            </div>
          </div>
        </ons-col>
        </ons-card>
      </div>
    </ons-page>
  </template>

  <template id="establish.html">
    <ons-page id="establish">
      <ons-toolbar>
        <div class="left"><ons-back-button>BACK</ons-back-button></div>
        <div class="center"></div>
      </ons-toolbar>
      <div class="card-container">
      <ons-col width="33.33%"></ons-col>
      <ons-col width="33.33%">
        <ons-card>
          <ons-col width="100%">
          <ons-list>
            <ons-lazy-repeat id="node-data-card-header"></ons-lazy-repeat>
            </ons-list-item>
          </ons-list>
          <p>
            <ons-input id="node-name" class="card-content" modifier="underbar" type="text" placeholder="NAME"></ons-input>
          </p>
          <p>
            <ons-input id="node-descriptor" class="card-content" modifier="underbar" type="text" placeholder="DESCRIPTOR"></ons-input>
          </p>
            <div class="row horizontal-button-container">
              <!-- <ons-col width="50%">
                <ons-button id="btn-logo-file"></ons-icon>UPDATE LOGO <ons-icon icon="upload"></ons-icon>
                  <input style="display: none" name="Select Logo" type="file" id="logo-file" accept=".png">
                </ons-button>
              </ons-col> -->   
              <ons-col width="50%">
                
              </ons-col>
            </div>
          <p>
            <textarea  id="node-meta-data" modifier="large" class="textarea card-content" rows="4" placeholder="META-DATA"></textarea>
          </p>
          <p>
            <ons-button id="btn-key-store-file" modifier="large"></ons-icon>SAVE KEYSTORE <ons-icon icon="download"></ons-icon>
              <input style="display: none" name="Select File" type="file" id="key-store-file" webkitdirectory>
            </ons-button>
          </p>
          <!-- <p>
            <ons-button id="btn-load-key-store-file" modifier="large"></ons-icon>LOAD KEYSTORE <ons-icon icon="upload"></ons-icon></ons-button>
          </p> -->
          <p style="text-align: center;">
            <ons-button id="btn-establish" class="hidden" modifier="large">ESTABLISH</ons-button>
          </p>
          
        </ons-col>
        </ons-card>
      </ons-col>
      <ons-col width="33.33%"></ons-col>
    </div>
    </ons-page>
  </template>