<ons-navigator swipeable id="Nav" page="new_node.html"></ons-navigator>

<template id="new_node.html">
    <ons-page id="new_node">
      <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <ons-card>
          <div class="centered-content">
            <div class="title" style="text-align: center;">
              NEW AXIEL NODE
            </div>
            <div class="content">
              <p>
                <ons-button><ons-icon icon="sync"></ons-icon></ons-button>
              </p>
              <p>
                <textarea class="textarea" rows="3" placeholder="SEED"></textarea>
              </p>
              <p>
                <ons-input id="name" modifier="underbar" placeholder="NAME" float></ons-input>
              </p>
              <p>
                <ons-input id="password" modifier="underbar" type="password" placeholder="PASSWORD" float></ons-input>
              </p>
              <div style="text-align: center;">
              <ons-button modifier="large" onclick="window.fn.showDialog('loading-dialog')">ESTABLISH</ons-button>
              <ons-button id="debug-button" style="margin: 20px;" onclick="window.fn.pushPage('initialize')" >DEBUG</ons-button>
              </div>
            </div>
          </div>
        </ons-card>
      </div>
    </ons-page>
  </template>

  <template id="initialize.html">
    <ons-page id="initialize">
      <ons-toolbar>
        <div class="left"><ons-back-button>BACK</ons-back-button></div>
        <div class="center"></div>
      </ons-toolbar>

      <p>This is the second page.</p>
    </ons-page>
  </template>