<template id="loading-dialog.html">
    <ons-dialog id="loading-dialog">
      <div style="text-align: center; padding: 10px;">
        <p class="dialog-p">
          <span class="dialog-p">
            <ons-progress-circular style="scale: 0.8; vertical-align: middle;" indeterminate></ons-progress-circular>
            LOADING
          </span>
        </p>
        <p>
          <ons-button onclick="window.dlg.hide('loading-dialog')" ripple>Close</ons-button>
        </p>
      </div>
    </ons-dialog>
  </template>

  <template id="fail-dialog.html">
    <ons-dialog id="fail-dialog" cancelable>
        <div style="text-align: center; padding: 10px;">
          <p class="dialog-p" id="fail-dialog-text">FAILED</p>
          <p>
            <ons-button id="fail-dialog-button" onclick="window.dlg.hide('fail-dialog')" ripple>  OK  </ons-button>
          </p>
        </div>
    </ons-dialog>
  </template>

  <template id="new-password-dialog.html">
    <ons-dialog id="new-password-dialog" cancelable>
        <div style="text-align: center; padding: 10px;">
          <p class="dialog-p" id="new-password-dialog-text">ENTER YOUR PASSWORD</p>
          <p>
            <ons-input id="new-password-dialog-input" class="card-content pw-input" modifier="underbar" type="password" placeholder="PASSWORD" float></ons-input>
          </p>
          <p>
            <ons-input id="new-password-dialog-confirm-input" class="card-content pw-input" modifier="underbar" type="password" placeholder="CONFIRM PASSWORD" float></ons-input>
          </p>
          <p>
            <ons-button id="new-password-dialog-button" class="can-callback" ripple>  ENTER  </ons-button>
          </p>
        </div>
    </ons-dialog>
  </template>

  <template id="load-encrypted-file-dialog.html">
    <ons-dialog id="load-encrypted-file-dialog" cancelable>
        <div style="text-align: center; padding: 10px;">
          <p class="dialog-p" id="load-encrypted-file-dialog-text">ENTER YOUR PASSWORD</p>
          <p>
            <ons-input id="load-encrypted-file-dialog-pw-input" class="card-content pw-input" modifier="underbar" type="password" placeholder="PASSWORD" float></ons-input>
          </p>
          <p>
            <ons-button id="load-encrypted-file-dialog-button" class="can-callback" ripple>  LOAD  
              <input type="file" id="load-encrypted-file-dialog-input" class="file-input" name="load-file-dialog-upload" style="display: none;">
            </ons-button>
          </p>
        </div>
    </ons-dialog>
  </template>

  <template id="load-file-dialog.html">
    <ons-dialog id="load-file-dialog" cancelable>
        <div style="text-align: center; padding: 10px;">
          <p class="dialog-p" id="load-file-dialog-text">LOAD KEYSTORE</p>
          <p>
            <ons-button id="load-file-dialog-button" class="can-callback" ripple>  LOAD  
              <input type="file" id="load-file-dialog-input" class="file-input" name="load-file-dialog-upload" style="display: none;">
            </ons-button>
          </p>
        </div>
    </ons-dialog>
  </template>