<template id="loading-dialog.html">
    <ons-dialog id="loading-dialog">
      <div style="text-align: center; padding: 10px;">
        <p>
          <span>
            <ons-progress-circular style="scale: 0.8; vertical-align: middle;" indeterminate></ons-progress-circular>
            LOADING
          </span>
        </p>
        <p>
          <ons-button onclick="window.fn.hideDialog('loading-dialog')">Close</ons-button>
        </p>
      </div>
    </ons-dialog>
  </template>

  <template id="fail-dialog.html">
    <ons-dialog id="fail-dialog" cancelable>
        <div style="text-align: center; padding: 10px;">
          <p id="fail-dialog-text">FAILED</p>
          <p>
            <ons-button id="fail-dialog-button" onclick="fn.hideDialog('fail-dialog')">  OK  </ons-button>
          </p>
        </div>
    </ons-dialog>
  </template>

  <template id="password-dialog.html">
    <ons-dialog id="password-dialog" cancelable>
        <div style="text-align: center; padding: 10px;">
          <p id="password-dialog-text">ENTER YOUR PASSWORD</p>
          <p>
            <ons-input id="password-dialog-input" class="card-content" modifier="underbar" type="password" placeholder="PASSWORD" float></ons-input>
          </p>
          <p>
            <ons-input id="password-dialog-confirm-input" class="card-content" modifier="underbar" type="password" placeholder="PASSWORD" float></ons-input>
          </p>
          <p>
            <ons-button id="password-dialog-button" class="can-callback">  ENTER  </ons-button>
          </p>
        </div>
    </ons-dialog>
  </template>