ons-list{
  opacity: 90%;
}
ons-row{
  padding: 2%;
}
ons-col, ons-card{
  min-width: 350px;
  margin: 0 auto;
}
ons-card {
  max-width:100%;
  min-height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 4%;
}
header {
  display: flex;
  align-items: center;
  width:100%;
}
.card-container{
  display: flex; 
  justify-content: 
  center; 
  align-items: 
  center; 
  height: 100vh;
}
.card-content {
  width: 100%;
  margin: 0 auto;
}
.scale-on-hover {
  transition: transform .75s ease;
}
.scale-on-hover:hover {
  transform: scale(1.025);
}
.lighten-on-hover {
  transition: filter .75s ease;
}
.lighten-on-hover:hover {
  filter: brightness(110%); /* lighten the color by 5% */
}
.container {
    width:100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.container_med {
    width: 60%;
    padding-left: 20%;
    text-align: left;
}
.article { 
  height: 200px; 
  width:100%; 
  overflow: scroll;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
}
.expanded_article {
  width: 80%;
  padding-left: 10%;
  text-align: left;
}
.content_top{
  height:65px;
  text-align: center;
  margin-top: 30px;
}
.dash-input{
  width:100%;
  margin:0 auto;
  margin-bottom:5px;
}
.stat-ul{
  float:left;
  margin:0 5px;
}
.identifier{
  width:75%;
}
.file_url{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fab-container {
  position: relative; /* This will be the new positioning context */
  height: 50px; /* Replace with actual image height, in pixels */
  width: 50px; /* Replace with actual image width, in pixels */
  z-index: -1;
}
.node-data-card-header-list-item {
  z-index: -1;
}
.horizontal-button-container {
  display: flex;
}
.list-item__thumbnail {
  height: 100%; /* Ensure the image takes up the full height of its container */
  width: 100%; /* Ensure the image takes up the full width of its container */
  z-index: -1;
}
#node-data-card-header-logo {
  position: absolute; /* This will place the image in a relative context, according to the .fab-container */
  bottom: 0; /* Place the image at the bottom edge of the container */
  right: 0; /* Place the image at the right edge of the container */
  z-index: -1;
}

