<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
</head>
<body>
  {{ components | safe }}

  <template id="loading-dialog.html">
    <ons-dialog id="loading-dialog">
      <div style="text-align: center; padding: 10px;">
        <p>
          LOADING
        </p>
  
        <p>
          <ons-button onclick="window.fn.hideDialog('loading-dialog')">Close</ons-button>
        </p>
      </div>
    </ons-dialog>
  </template>

  <script src="{{js}}"></script>

</body>
</html>