<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/approvejs/3.1.2/approve.min.js"></script>
</head>
<body>

  {{ components | safe }}
  {{ shared_dialogs | safe }}

  <!-- dynamic card header template: -->
  <template id="node-data-card-header-template">
    <ons-list-item class="node-data-card-header-list-item">
      <div class="fab-container left"> 
        <img id="node-data-card-header-logo" class="list-item__thumbnail" src="">
      </div>
      <div class="center">
        <span id="node-data-card-header-name" class="list-item__title"></span><span id="node-data-card-header-descriptor"  class="list-item__subtitle"></span>
      </div>
    </ons-list-item>
  </template>
  <script type="module" src="{{client_tokens}}"></script>
  <script src="{{ url_for('static', filename='xelis_paper_wallet.js') }}"></script>
  <script src="{{ url_for('static', filename='cryptographic.js') }}"></script>
  <script type="module">
    window.constants = {};
    window.constants.LOGO = "{{ url_for('static', filename='hvym_logo.png') }}";
    window.constants.CLIENT_SESSION_KEYS = await generateClientKeys();
    window.constants.SERVER_PUBLIC_KEY = await importServerPub("{{session_pub}}");
    window.constants.CLIENT_PUBLIC_KEY = await exportKey(window.constants.CLIENT_SESSION_KEYS.publicKey);
    window.constants.SESSION_TOKEN = await generateSessionToken(window.constants.SERVER_PUBLIC_KEY, window.constants.CLIENT_SESSION_KEYS.privateKey);

    console.log(window.constants.SESSION_TOKEN)

    console.log(window.location.href)


    console.log(window.constants.CLIENT_SESSION_KEYS.publicKey)

    console.log( window.constants.CLIENT_PUBLIC_KEY )
  </script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <script src="{{js}}"></script>
  <script src="{{shared_dialogs_js}}"></script>

</body>
</html>